:root{
    --Soft-Cyan: hsl(174, 77%, 80%);
    --Strong-Cyan: hsl(174, 86%, 45%);
    --Light-Grayish-Red: hsl(14, 92%, 95%);
    --Light-Red: hsl(15, 100%, 70%);
    --Pale-Blue: hsl(226, 100%, 87%);
    --Very-Pale-Blue: hsl(230, 100%, 99%);
    --Light-Grayish-Blue-Empty-Slider-Bar: hsl(224, 65%, 95%);
    --Light-Grayish-Blue: hsl(223, 50%, 87%);
    --regular-copy: hsl(225, 20%, 60%);
    --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}

body,main{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    margin: 0; 
    padding: 0;
    border: none;
    width: 100%;
}

h1{
    font-size: 18px;
    margin: 10px 0;
    color: var(--Dark-Desaturated-Blue);
    font-weight: 800;
}

.regular-copy{
    color: var(--regular-copy);
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
}

main{
    padding: 20px;
    background: no-repeat url(images/bg-pattern.svg) ;
    background-size: auto 50%;
    text-align: center;
    width: 100%; 
    box-sizing: border-box;
}

#intro-container{
    background: no-repeat url(images/pattern-circles.svg) center;
    height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px 0
}

#intro-container .regular-copy{
    width: 200px;
    display: inline-block;
    margin: 0;
}

#pricing-form{
    background-color: white;
    box-sizing: border-box;
    border-radius: 8px;
    width: 335px;
    margin: 0 auto 100px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

#page-views-text{
    padding-top: 30px;
    margin: 0;
    font-weight: 800;
    font-size: 12px;
    color: var(--regular-copy);
    letter-spacing: 1.5px;
}

/* slider inspiration comes from this video
 https://www.youtube.com/watch?v=Ow0QjqmaRtQ */

#slider-padding-wrapper{
    padding: 0 20px;
}

 #slider-container{
    height: 32px;
    position: relative;
    margin: 30px 0 30px 0;
}

 #page-views-slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0;
    outline: none;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    margin: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    
 }

 #page-views-slider::-moz-slider-thumb {
    -moz-appearance: none;
}

#page-views-slider::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
    border-radius: 16px;
 }

 #slider-visible-track{
    background-color: var(--Light-Grayish-Blue-Empty-Slider-Bar);
    width: 100%;
    height: 8px;
    outline: none;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    margin: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    
 }

#slider-visible-thumb{
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    left: calc(50% - 16px);
    top: 50%;
    transform: translatey(-50%);
    background: url('images/icon-slider.svg') no-repeat center;
    background-color: var(--Strong-Cyan);
    border-radius: 20px;
    -webkit-box-shadow: 2px 15px 25px -3px #12F1DB; 
    box-shadow: 2px 15px 25px -3px #12F1DB;
    transition: left 400ms ease-in-out;
    z-index: 4;
}
   


#slider-track-filled{
    position: absolute;
    width: 50%;
    left: 0; 
    background-color: var(--Soft-Cyan);
    height: 8px;
    border-radius: 4px 0px 0px 4px;
    z-index: 3;
    top: 50%; 
    transform: translateY(-50%);
    transition: width 400ms ease-in-out;
}

#pricing-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

 #price{
     font-size: 30px;
     font-weight: 800;
     color: var(--Dark-Desaturated-Blue);
     display: inline-block;
     margin: 0;
 }

 #pricing-term{
    display: inline-block;
    color: var(--regular-copy);
    margin: 0 7.5px;

 }


#billing-interval-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px 0;

}

#billing-interval-container .regular-copy, #switch-container, .percentage{
    display: inline-block;
    font-size: 12px;
    margin: 0 6px 0 0;
} 

#switch-container{
    width: 40px;
    display: inline-block;
    height: 20px;
    position: relative; 
}

#switch-container:hover #switch-background{
    background-color: var(--Soft-Cyan);
}

#switch-background{
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    width: 40px;
    height: 20px; 
    border-radius: 10px;
    background-color: var(--Light-Grayish-Blue);
    transition: background-color 800ms;
}

#switch-toggle{
    -webkit-appearance: none;
    appearance: none;
    width: 15px; 
    height: 15px;
    position: absolute;
    z-index: 5;
    background-color: white;
    border-radius: 7.5px;
    margin: 0;
    top: 50%; 
    left: 2.5px;
    transform: translateY(-50%);
    transition: left 400ms;
}

#switch-toggle:checked{
    left: 22.5px;
}

#switch-toggle:checked ~ #switch-background{
    background-color: var(--Strong-Cyan) ;
}

.percentage{
    background-color: var(--Light-Grayish-Red);
    color: var(--Light-Red);
    font-weight: 700;
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 10.8px;
    width: 30px;
    height: 12px;
    line-height: 15px;
    overflow: hidden;
}

#main-content-card-bottom{
    border-top: 1px solid var(--Light-Grayish-Blue-Empty-Slider-Bar);
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.value-propositions{
    display: inline-block;
    color: var(--regular-copy);
    margin: 0 0 10px 10px;
}

#start-my-trial-button{
    box-sizing: default;
    padding: 15px 50px;
    border: none; 
    border-radius: 25px;
    color: var(--Pale-Blue);
    background-color: var(--Dark-Desaturated-Blue);
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (min-width: 1000px){
    #pricing-form{
        width: 670px;
        margin: 0 auto;
    }

    #slider-padding-wrapper{
        padding: 0 40px;
    }

    main{
        background-size: 100%;
        height: 100%;
        padding: 40px;
    }

    h1{
        font-size: 30px;
    }

    p{
        font-size: 15px;
    }

    #intro-container{
        margin: 0 0 40px 0;
    }

    #intro-container .regular-copy{
        width: 100%;
       
    }

    #page-views-text{
        grid-area: page-views;
        padding: 0;
        justify-self: left;
    }

    #slider-padding-wrapper{
        grid-area: slider;
        padding: 0;
    }

    #pricing-container{
        grid-area: price;
        display: flex;
        align-items: center;
        justify-self: end;
    }

    #billing-interval-container{
        grid-area: billing;
        justify-self: center;
        justify-self: end;
    }

    #main-content-card-bottom{
        grid-area: bottom-content;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 0 0 0;
    }

    #start-my-trial-button{
        margin: 0;
    }

    #value-propositions-container{
        text-align: left;
    }


    #pricing-form{
        padding: 30px 50px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "page-views price"
        "slider slider"
        "billing billing"
        "bottom-content bottom-content";
        align-items: center;
        box-sizing: border-box;
        width: 600px;

        
    }

    #price{
        font-size: 45px;
    }

    #billing-interval-container .regular-copy, #switch-container, .percentage {
        font-size: 15px;
        margin: 0 15px 0 0;
    }

    .percentage{
        font-size: 12px;
        width: 96px;
        line-height: auto;
    }
    #page-views-slider::-webkit-slider-thumb{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    #slider-visible-thumb{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-size: 20px;
    }
}

@media only screen and (max-width: 374px){
    #pricing-form{
        width: 90%;
    }

}





 



